#textStyles{
line-Heigth:150%
}
article{
#background-color:#000000;
height:170px;
border-radius:5px;
border:2px solid red;
box-sizing:border-box;
margin-top:20px;
float:left;
}
article {
widht:60%;
margin-left:5%;
mergin-right:5%;
}

